@media screen and (min-width:1400px){
    @for $i from 1 through 12 {
        .col-xxl-#{$i}{
            width: 8.333333% * $i;
        }
        .offset-xxl-#{$i}{
            margin-left: 8.333333% * $i;
        }  
    }
}
@media screen and (min-width:1200px) and (max-width:1400px){
    @for $i from 1 through 12 {
        .col-xl-#{$i}{
            width: 8.333333% * $i;
        }
        .offset-xl-#{$i}{
            margin-left: 8.333333% * $i;
        }  
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            width: 8.333333% * $i;
        }
        .offset-lg-#{$i}{
            margin-left: 8.333333% * $i;
        }  
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            width: 8.333333% * $i;
        }
        .offset-md-#{$i}{
            margin-left: 8.333333% * $i;
        }  
    }
}
@media screen and (min-width:576px) and (max-width:768px){
    @for $i from 1 through 12 {
        .col-sm-#{$i}{
            width: 8.333333% * $i;
        }
        .offset-sm-#{$i}{
            margin-left: 8.333333% * $i;
        }  
    }
}
@media screen and (max-width:576px){
    @for $i from 1 through 12 {
        .col-xs-#{$i}{
            width: 8.333333% * $i;
        }
        .offset-xs-#{$i}{
            margin-left: 8.333333% * $i;
        }  
    }
}
.row {
    display: flex;
    flex-flow: row wrap;
}