// :root{
//     --bd-1px:1px solid grey;
//     --bg-ws:whitesmoke;
//     --bg-w:white;
//     --bg-g:rgba(214, 209, 209, 0.6);
//     --bg-b:#88E0F5;
//     --bg-myred:rgb(233, 62, 81);
// }
$border:1px solid grey;
$color-ws:whitesmoke;
$color-w:white;
$color-grey:rgba(214, 209, 209, 0.6);
$color-blue:#88E0F5;
$color-red:rgb(233, 62, 81);
